[Unit]
Description=NFP Hardware Debug Server
After=network.target

[Service]
ExecStart=/opt/netronome/nfp-sdk-hwdbgsrv/server/nfp-sdk-hwdbgsrv -n 0 -p 20406 -I -f /var/log/nfp-hwdbg-srv.log

[Install]
WantedBy=multi-user.target