[Unit]
Description=NFP Hardware Debug Server
After=network.target

[Service]
ExecStart=/opt/netronome/nfp-sdk-hwdbgsrv/server/nfp-sdk-hwdbgsrv -n 1 -p 20407 -I -f /var/log/nfp-hwdbg-srv1.log

[Install]
WantedBy=multi-user.target