exec_pausesim
exttcache
history
ilkn_loopback
ilkn_pcap_play
ilkn_pcap_record
interactive
load_me
log_level
mac_ports
mac_stats
nbidma_setup
nbitm_setup
nfmem
pcap_play
pcap_record
pstats
read_meattn
read_mecsr
read_xpb
step
watch_meattn
write_xpb